<html>
<head>
    <h1>Calificación empresas</h1>
</head>

<body>
  <table>
  <tr>
    <td><strong><a href="/empresa/principal/">Inicio</a></strong></td>
    <td><strong>|</strong></td>
    <td><strong><a href="/empresa/clasificacion/">Clasificación empresas</a></strong></td>
    <td><strong>|</strong></td>
    <td><strong><a href="/empresa/delete/">Borrado Empresas</a></strong></td>
  </tr>
</table>

<h3>Clasificación por puntuación de todas las empresas:</h3>

{% if clasificacion %}
    <ul>

        <p>{{clasificacion }}</p>

    </ul>
{% else %}
    <p>En este momento no hay ninguna empresa en la base de datos.</p>
{% endif %}

</body>


</html>
